{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'admin_activity_edit.css' %}"
/>
<html>
  <div class="container">
    <div class="form-wrap">
      <head>
        <title>Update Activity</title>
      </head>
      <body>
        <h2>Update Activity</h2>
        <a href="/admin_activity">Back to the list of activities</a>
        <br />
        {% if message %}
        <div>{{ message }}</div>
        {% endif %}
        <form method="POST">
          {% csrf_token %} Activity Name
          <div class="form-group">
            <input
              autofocus
              type="text"
              name="activity_name"
              value="{{this_activity.3}}"
            />
          </div>
          Category
          <div class="form-group">
            <input type="text" name="category" value="{{this_activity.2}}" />
          </div>
          Start Date Time
          <div class="form-group">
            <input
              type="datetime-local"
              name="start_date_time"
              value="{{this_activity.4}}"
            />
          </div>
          End Date Time
          <div class="form-group">
            <input
              type="datetime-local"
              name="start_date_time"
              value="{{this_activity.5}}"
            />
          </div>
          Venue
          <div class="form-group">
            <input type="text" name="venue" value="{{this_activity.6}}" />
          </div>
          Capacity
          <div class="form-group">
            <input
              class="form-control"
              type="number"
              name="capacity"
              min="2"
              max="10"
              value="{{this_activity.7}}"
            />
          </div>
          <input
            class="btn btn-primary"
            type="submit"
            value="Update Activity"
          />
        </form>
      </body>
    </div>
  </div>
</html>
