{% load static %}
<html>
  <head>
    <title>Update Activity</title>
  </head>
  <body>
    <h2>Update Activity</h2>
    <a href="/admin_activity">Back to the list of activities</a>

    <form method="POST">
      {% csrf_token %}
      Activity Name
      <div class="form-group">
        <input
          class="form-control"
          autofocus
          type="text"
          name="activity_name"
          value = "{{this_activity.3}}"
        />
      </div>
      Category
      <div class="form-group">
        <!-- Currently the type is still in text, should change to radio button -->
        <input
          class="form-control"
          type="text"
          name="category"
          value = "{{this_activity.2}}"
        />
      </div>
      Start Date Time
      <div class="form-group">
        <input
          class="form-control"
          type="datetime-local"
          name="start_date_time"
          value="{{this_activity.4}}"
        />
      </div>
      Venue
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name="venue"
          value="{{this_activity.5}}"
        />
      </div>
      Capacity
      <div class="form-group">
        <input class="form-control" type="number" name="capacity" min="2" max="6" value="{{this_activity.6}}"/>
      </div>
      <input class="btn btn-primary" type="submit" value="Update Activity" />
    </form>
  </body>
</html>
