{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
<html>
  <head>
    <title> KopiDarat Activities </title>
  </head>
  <body>
    {% if message %}
    <div id="overlay"></div>
    <div class="popup">
      <div class="popupcontent">{{message}}</div>
      <a
        class="button"
        href="{% url 'index' %}"
        class="text-decoration-none"
      >Back To Main Page</a>
    </div>
    {% endif %}
    <br/><br>
    <table border="1">
      <thead>
        <th><a href="{% url 'index' %}"> For You </a></th>
        <th><a href="{% url 'create_activity' %}"> New Activity </a></th>
        <th><a href="{% url 'user_activity' %}"> Your Activities </a></th>
        <th><a href="{% url 'logout' %}"> Logout </a></th>
      </thead>
    </table>
<h2> Available Activities </h2>
    <form action="{% url 'all_activities' %}" method="post">
      {% csrf_token %}
      <label for="category_id" class="control-label requiredField">Categories (multi-select with ctrl)</label> 
      <div class="controls"><select name="categories" id="categories" multiple size="9">
        {% for category in categories %}
        <option value= "{{category.0}}" >{{category.0}}</option>
        {% endfor %} 
        </select> </div>
      <label for="period_id" class="control-label requiredField">Show Activities Within</label> 
      <div class="controls"><select name="display_period" id="display_period" multiple size="2">
        <option value= "1_week" >1 Week</option>
        <option value= "1_month" >1 Month</option>
        </select> </div>
      <button type="submit">Apply Filter</button>
      <a href = "{% url 'all_activities' %}">Clear Selections</a>
      </form>
    </div>

    <br/><br>

    <div class="table-wrap">
    <table class="tableoverflow">
      {% for activity in records %}
      <tr>
        <td class="overflow_td">
          <h2>{{ activity.3 }}</h2> 
          <h3>{{ activity.6 }}</h3> 
          <h4>{{ activity.4 }} - {{ activity.5 }}</h4>
          Organized by {{ activity.1 }}<br/>
          Enrolment: {{ activity.8 }}/{{ activity.7 }}<br/>
          <br>
          Category: {{ activity.2 }}
          <button> <a class='button' href="{% url 'join' activity.0 %}" class="text-decoration-none">Join</a> </button>
        </td>
      </tr>
      {% endfor %}
      </table>
    </div>
  </body>