{% block body %}

    <div class="container">
        <h2>Forget your password?</h2>

        {% if message %}
            <div>{{ message }}</div>
            <div><a href="{% url 'register' %}">Register here</a></div>
        {% endif %}

        <form action="{% url 'forget_password' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="email" placeholder="Email">
            </div>
            <input class="btn btn-primary" type="submit" value="Reset Password">
        </form>
{% endblock %}