{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'forget_password.css' %}" />
{% block body %}

    <div class="container">
        <div class="form-wrap">
        <h2>Forget your password?</h2>

        {% if message %}
            <div>{{ message }}</div>
            <div><a href="{% url 'register' %}">Register here</a></div>
        {% endif %}

        <form action="{% url 'forget_password' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="email" placeholder="Email">
            </div>
            <br></br>
            <input class="btn btn-primary" type="submit" value="Reset Password">
            <br></br>
        </form>
        </div>
{% endblock %}