{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'frontpage.css' %}" />
<body>
<div class="container">
<div class="wrapper">
<h1>Welcome to KopiDarat!</h1>
<h2>Wanna play golf but cannot find friends to play with you? Wanna try out traditional Japanese tea ceremony but cannot find anyone else who seems interested?
</h2>
<br></br>
    <h2>
    <div id="box-1" class="box">
        It's time you join (or organise!) a kopi darat -- a casual meetup among random people interested in taking part in the same activities as you.
    </div>
    <div class="curve"> </div>
    <div class="dark"> </div>
    </h2>
    <br></br>
    <h2>
    With <strong>{{activity_count}}</strong> activities and <strong>{{user_count}}</strong> users, we are excited to connect you with exciting new possibilities!
    </h2>
    <br></br>
    <h2>
    Check out the types of activities we host below!
    </h2>
    <div class="content-table">
        <br/><br/>
        <table> 
        <thead>
            <th> Category</th>
            <th> Number of activities </th>
        </thead>
        {% for category in categories %}
        <tr>
            <td> {{ category.0 }}</td>
            <td> {{ category.1 }}</td>
        </tr>
        {%endfor%}
        </table>
    <br></br>
    <h2>
        Our top rated activities
    </h2>
        <br>
        <table> 
            <thead>
                <th> Activity Name</th>
                <th> Average Rating </th>
            </thead>
            {% for activity in top_rated_activities %}
            <tr>
                <td> {{ activity.1 }}</td>
                <td> {{ activity.2 }}</td>
            </tr>
            {%endfor%}
            </table>
        </div>
    <h3>
    Interested? <a href='register'> Sign up now. </a> 
    </h3>
    <br>
    <br> 
    <h3>
    Already a member? <a href='login'> Login here. </a>
    </h3>
</div>
<div id="box-2" class="box"> </div>
</div>
</body>