{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
<html>
  <head>
    <title> Welcome to KopiDarat! </title>
  </head>
  <body>
    {% if message %}
    <div id="overlay"></div>
    <div class="popup">
      <div class="popupcontent">{{message}}</div>
    </div>
    {% endif %}
    <br/><br>
    <table border="1">
      <thead>
        <th><a href="{% url 'all_activities' %}">All Activities</a></th>
        <th><a href="{% url 'create_activity' %}"> New Activity </a></th>
        <th><a href="{% url 'user_activity' %}"> Your Activities </a></th>
         <th><a href="{% url 'logout' %}"> Logout </a></th>
      </thead>
    </table>
    
    <h2> Recommended For You</h2>

    <br/>
    <div class = "table-wrap">
      <table class="tableoverflow">
        {% for activity in recommended_activities %}
        <tr>
          <td class="overflow_td"> 
            <h2>{{ activity.3 }}</h2>
            <h3>{{ activity.6 }}</h3>
            <h4>{{ activity.4 }} - {{ activity.5 }}</h4>
            Organized by {{ activity.1 }}<br/>
            Enrolled: {{ activity.8 }}/{{ activity.7 }}<br/>
            <br>
            Category: {{ activity.2 }}<br/>
            <button><a class='button' href="{% url 'join' activity.0 %}" class="text-decoration-none">Join</a></button>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
