{% load static %}
<html>
  <head>
    <title> Welcome to KopiDarat! </title>
  </head>
  <body>
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    <h1>Hello {{full_name}}!</h1>  
    <h2> Available Activities </h2>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <label for="category_id" class="control-label requiredField">Categories (multi-select with ctrl)</label> 
      <div class="controls"><select name="categories" id="categories" multiple size="10">
        {% for category in categories %}
        <option value= "{{category.0}}" >{{category.0}}</option>
        {% endfor %} 
        </select> </div>
      <button type="submit">Apply Filter</button>
      <a href = "{% url 'index' %}">Clear Selections</a>
      </form>
    </div>

    <a href='create_activity'> New Activity </a>
    <br/><br>
    <a href='review'> New Review </a>
    <br/><br>
    <a href='report'> New Report </a>
    <br/><br>
    <a href='user_activity'> Your Activities </a>
    <br/><br>
    <a href='logout'> Logout </a>
    <br/><br>
    <table border=1>
      <thead>
          <th> Activity ID</th>
          <th> Activity Name </th>
          <th> Inviter </th>
          <th> Category </th>
          <th> Start Date Time </th>
          <th> Venue </th>
          <th> Current Participants</th>
          <th> Capacity</th>
          <th> Join </th>
      </thead>
      {% for activity in records %}
      <tr>
        <td> {{ activity.0 }}</td>
        <td> {{ activity.3 }}</td>
        <td> {{ activity.1 }}</td>
        <td> {{ activity.2 }}</td>
        <td> {{ activity.4 }}</td>
        <td> {{ activity.5 }}</td>
        <td> {{ activity.6 }}</td>
        <td> {{ activity.7 }}</td>
        <td> <a class='button' href="{% url 'join' activity.0 %}" class="text-decoration-none">Join</a> </td>
      </tr>
      {% endfor %}
  </body>
</html>
