{% load static %}
<html>
  <head>
    <title>Welcome to KopiDarat</title>
  </head>
  <body>
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    <h1>Hello {{full_name}}!</h1>
    <h2>Welcome to the administrator view of KopiDarat!</h2>
    <br /><br />
    <a href="logout"> Logout </a>
    <br /><br />
    <h4>List of Users</h4>
    <table border="1">
      <thead>
        <th>Full Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Type</th>
      </thead>
      {% for user in users %}
      <tr>
        <td>{{ user.0 }}</td>
        <td>{{ user.1 }}</td>
        <td>{{ user.2 }}</td>
        <td>{{ user.3 }}</td>
        <td>{{ user.5 }}</td>
      </tr>
      {% endfor %}
    </table>
    <br /><br />
    <h4>List of Activities</h4>
    <table border="1">
      <thead>
        <th>Activity ID</th>
        <th>Activity Name</th>
        <th>Inviter</th>
        <th>Category</th>
        <th>Start Date Time</th>
        <th>Venue</th>
        <th>Capacity</th>
      </thead>
      {% for activity in activities %}
      <tr>
        <td>{{ activity.0 }}</td>
        <td>{{ activity.3 }}</td>
        <td>{{ activity.1 }}</td>
        <td>{{ activity.2 }}</td>
        <td>{{ activity.4 }}</td>
        <td>{{ activity.5 }}</td>
        <td>{{ activity.6 }}</td>
      </tr>
      {% endfor %}
    </table>
    <br /><br />
    <h4>List of Reviews</h4>
    <table border="1">
      <thead>
        <th>Activity ID</th>
        <th>Timestamp</th>
        <th>Participant</th>
        <th>Comment</th>
      </thead>
      {% for review in reviews %}
      <tr>
        <td>{{ review.0 }}</td>
        <td>{{ review.1 }}</td>
        <td>{{ review.2 }}</td>
        <td>{{ review.3 }}</td>
      </tr>
      {% endfor %}
    </table>
    <br /><br />
    <h4>List of Reports</h4>
    <table border="1">
      <thead>
        <th>Submitter</th>
        <th>Timestamp</th>
        <th>Reported User</th>
        <th>Comment</th>
        <th>Severity</th>
      </thead>
      {% for report in reports %}
      <tr>
        <td>{{ report.0 }}</td>
        <td>{{ report.1 }}</td>
        <td>{{ report.2 }}</td>
        <td>{{ report.3 }}</td>
        <td>{{ report.4 }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
