{% block body %}

    <div class="container">
        <h2>Reset Password</h2>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'reset_password' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="Password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="Confirmation" placeholder="Confirm Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Reset Password">
        </form>
{% endblock %}