@import url("https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap");
body {
  color: black;
  text-align: center;
  background-color: #ff8415;
  font-family: "Arial Black";
}
h1 {
  font-family: "Sora";
  font-size: 70px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  font-size: 25px;
}
h3 {
  font-family: "Arial Black";
  font-size: 30px;
  max-width: 600px;
}
h4 {
  font-family: "Arial Black";
  font-size: 20px;
}

.content-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content-table thead tr {
  background-color: black;
  color: #ffff;
  text-align: center;
  font-weight: bold;
  font-family: "Arial Black";
}

.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #17706c;
  color: white;
  font-family: "Arial Blacka";
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  border-style: hidden;
  border-radius: 1em;
  overflow: hidden;
}

table tbody tr:nth-child(odd) {
  background-color: #17706c;
}

table tbody tr:nth-child(even) {
  background-color: #749e9d;
}

thead {
  font-family: "Sora";
  font-size: 16px;
}

th {
  padding-top: 9px;
  padding-bottom: 9px;
}

a {
  color: #17706c;
  text-decoration: none;
  font-family: "Arial Black";
  font-size: 20px;
}

.wrapper {
  background-color: white;
  border-radius: 1em;
  padding: 40px 40px 80px 40px;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.row-wrapper {
  background-color: white;
  border-radius: 1em;
  padding: 40px 40px 40px 40px;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 100px;
}
